/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}

@font-face {
	font-family: "Kaushan Script";
	font-style: normal;
	font-weight: 400;
	src: local("Kaushan Script"), local("KaushanScript-Regular"), url("https://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03IEd0sm1ffa_JvZxsF_BEwQk.woff2") format("woff2");
}
@font-face {
	font-family: "Droid Serif";
	font-style: italic;
	font-weight: 400;
	src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("https://fonts.gstatic.com/s/droidserif/v6/cj2hUnSRBhwmSPr9kS5898u2Q0OS-KeTAWjgkS85mDg.woff2") format("woff2");
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
}
.header-top{
	background:#fff;
	padding: 10px 0;
}
.logo{
	float:left;
	margin-right: 30%;
	font-family: Kaushan Script;
	font-size:2.5em;
}
.cssmenu {
	padding-top:10px;
	float:left;
	margin-top:11px;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #000;
	display: block;
	margin: 0px 10px;
	text-transform: uppercase;
	font-size: 0.8125em;
}
.cssmenu ul li a:hover{
	color:#555;
}
.header-bottom{
	background:#08080b;
	padding: 5px 0;
}
.bottom-menu {
	float: right;
}
.bottom-menu ul li {
	display: inline-block;
}
.bottom-menu ul li a {
	color: #fff;
	display: block;
	margin: 0px 10px;
	font-size: 0.8125em;
}
.h_nav h4{
	border-bottom:1px solid rgb(236, 236, 236);
	font-size: 1.1em;
	color: #000;
	line-height: 1.8em;
	text-transform:capitalize;
	margin-bottom: 4%;
}
.h_nav h4.top{
	margin-top: 12%;
}
.h_nav ul li{
	display: block;
}
.h_nav ul li a{
	display:block;
	font-size: 0.8125em;
	color:#777;
	text-transform:capitalize;
	line-height:2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover {
	color: #00405d;
	text-decoration: underline;
}

#search {
	margin: 15px;
	margin-left:58%;
	margin-bottom:20px;
	position:absolute;

}

#header-img {
	background: url("../img/h1.jpg") no-repeat center center;
	padding-bottom:500px;
	background-size: cover;
	color:black;
	font-family:Kaushan Script;
	text-align:right;

}

#header-img h1{

	position:relative;
	top:200px;
	left:800px;
	width:500px;
	font-size:600%;
}