.product-details{
    overflow:hidden;
}



.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}



.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #FE980F;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}


.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}



.product-information h2 {
    color: #363432;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #D5331D;
    float: left;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}



.cart {
    background: #D5331D;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.contact{
    color:#D5331D;
    font-size:20px;
}


